body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-container {
  display: grid;
  grid-gap: 20px;
  align-content: center;
  text-align: center;
  grid-template-areas:
    '. headline .'
    '. list .'
    '. button .';
}

#postList {
  grid-area: list;
}
#createButton {
  grid-area: button;
}
.headline {
  grid-area: headline;
}

#postList {
  display: grid;
}

@media only screen and (max-device-width: 749px){
  #postList {
    grid-gap: 5px;
  }
  .post-item {
     display: grid;
     grid-template-areas:
       'post-image post-image'
       'post-text post-text'
       'send-button delete-button';
   }
   img {
      width: 150px;
    }
    .post-copyright {
      visibility: hidden;
      display: none;
     }
}

@media only screen and (min-device-width: 750px) {
  #postList {
    grid-gap: 25px;
  }
  .post-item {
    grid-gap: 0px;
     display: grid;
     grid-template-columns: 100px minmax(100px, auto) 50px 50px;
     grid-template-areas:
       'post-image post-text send-button delete-button'
       'post-image post-copyright send-button delete-button';
   }
   img {
      width: 50px;
    }
}

.post-image {
   grid-area: post-image;
   align-self: center;
 }
.post-copyright {
   grid-area: post-copyright;
   text-align: left;
   align-self: center;
 }
.post-text {
   grid-area: post-text;
   text-align: left;
   align-self: center;
 }
div.send-button {
  grid-area: send-button;
  align-self: center;
  height: 32px!important;
  width: auto;
}
div.delete-button {
  grid-area: delete-button;
  align-self: center;
  height: 30px!important;
  width: auto;
}

.post-create-modal {
  display: grid;
  grid-template-columns: auto auto;
  color: black;
}

.post-send-modal {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  color: black;
}

.post-send-modal > div > div {
  display: grid;
  grid-template-columns: auto 20px;
  text-align: left;
  grid-gap: 10px;
  padding: 5px;
}

.post-send-modal > div > div:nth-child(even) {
  background-color: lightgray;
}

#send-new-post-button {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

#send-new-post-button > button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}


.post-list-enter {
  opacity: 0.1;
}

.post-list-enter.post-list-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.post-list-leave {
  opacity: 1;
}

.post-list-leave.post-list-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}
