

body {
	background:#1f1f1f;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.post-item {
	background-color: #3d3d3d;
}

.post-item:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
	-webkit-box-shadow: 3px 3px 2px 0px #151515;
	box-shadow:         3px 3px 2px 0px #151515;

}

.post-item p {
	font-size: 14px;
	font-weight: 200;
	line-height: 16px;
	color: inherit;
	margin: 0 0 10px;
	padding:5px;
}

.send-button, .delete-button, #add-button  {
	color: #999;
	margin-left: 6px;
	cursor:pointer;
}

/*}*/
/*body.overviewDashboard ul {*/
	/*overflow-y: scroll;*/
#categoryOverview .dash-unit {
	height: auto;
}

.btn-info {
	background-color: #4f4f4f !important;
	border-color: #4f4f4f !important;
}

.btn-info:hover {
	background-color: #888888 !important;
	border-color: #888888 !important;
}

.close {
	color: white !important;
}

/*manipulate scrollbar*/

::-webkit-scrollbar {
	width: 6px;
	background-color: #3a3a3a;
}
::-webkit-scrollbar-thumb {
	background-color: #3e3e3e;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(31, 31, 31);
}

.active-users {
	height:195px;
	overflow-y: scroll;
}

.pause-users {
	height:97px;
	overflow-y: scroll;
}

#nprogress .bar {
	background: #ffffff;
	height: 6px;
}

#nprogress .peg {
	box-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
}


#nprogress .spinner-icon {
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	width: 32px;
	height: 32px;
}
